<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lazyxu.film">

    <application>
        <activity android:name="com.lazyxu.film.ui.login.LoginActivity" />
        <activity android:name="com.lazyxu.film.HotFilmActivity" />
    </application>
</manifest>